In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie_data.csv')

In [3]:
df

,Actor,Film,Year,Genre,BoxOffice,IMDb
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8
1,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
2,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
3,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
4,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
5,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
7,Denzel Washington,Training Day,2001,Crime,104.9,7.7
8,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
9,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
10,Will Smith,Men in Black,1997,Comedy,589.4,7.3
11,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
12,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
13,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
14,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
15,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0
16,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
17,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
18,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
19,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN

In [4]:
df.isnull()

    Actor   Film   Year  Genre  BoxOffice   IMDb
0   False  False  False  False      False  False
1   False  False  False  False      False  False
2   False  False  False  False      False  False
3   False  False  False  False      False  False
4   False  False  False  False      False  False
5   False  False  False  False      False  False
6   False  False  False  False      False  False
7   False  False  False  False      False  False
8   False  False  False  False      False  False
9   False  False  False  False      False  False
10  False  False  False  False      False  False
11  False  False  False  False      False  False
12  False  False  False  False      False  False
13  False  False  False  False      False  False
14  False  False  False  False      False  False
15  False  False  False  False      False  False
16  False  False  False  False      False  False
17  False  False  False  False      False  False
18  False  False  False  False      False  False
19  False  False  False  False      False   True

In [5]:
df.sort_values('Year')

,Actor,Film,Year,Genre,BoxOffice,IMDb
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8
1,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
10,Will Smith,Men in Black,1997,Comedy,589.4,7.3
2,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
16,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
7,Denzel Washington,Training Day,2001,Crime,104.9,7.7
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
9,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
5,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
13,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
11,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
8,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
18,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
14,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
19,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN
4,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
17,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
3,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
12,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
15,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0

In [6]:
df.sort_values('Year', ascending=False)

,Actor,Film,Year,Genre,BoxOffice,IMDb
15,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0
12,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
3,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
17,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
4,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
19,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN
14,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
18,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
8,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
11,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
13,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
9,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
5,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
7,Denzel Washington,Training Day,2001,Crime,104.9,7.7
2,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
16,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
10,Will Smith,Men in Black,1997,Comedy,589.4,7.3
1,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8

In [7]:
df.sort_values(['Year', 'IMDb'])

,Actor,Film,Year,Genre,BoxOffice,IMDb
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8
10,Will Smith,Men in Black,1997,Comedy,589.4,7.3
1,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
16,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
2,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
7,Denzel Washington,Training Day,2001,Crime,104.9,7.7
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
5,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
9,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
13,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
11,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
14,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
8,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
18,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
19,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN
17,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
4,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
3,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
12,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
15,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0

In [8]:
df2 = df.sort_values(['Year', 'IMDb']).copy()

In [9]:
df2.reset_index(drop=True, inplace=True)

In [10]:
df2

,Actor,Film,Year,Genre,BoxOffice,IMDb
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8
1,Will Smith,Men in Black,1997,Comedy,589.4,7.3
2,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
3,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
4,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
5,Denzel Washington,Training Day,2001,Crime,104.9,7.7
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
7,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
8,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
9,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
10,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
11,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
12,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
13,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
14,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN
15,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
16,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
17,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
18,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
19,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0

In [11]:
df2.sort_index(ascending=False)

,Actor,Film,Year,Genre,BoxOffice,IMDb
19,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0
18,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3
17,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9
16,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9
15,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1
14,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN
13,Daniel Craig,Skyfall,2012,Action,1108.6,7.8
12,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7
11,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5
10,Natalie Portman,Black Swan,2010,Drama,329.4,8.0
9,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6
8,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0
7,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9
5,Denzel Washington,Training Day,2001,Crime,104.9,7.7
4,Brad Pitt,Fight Club,1999,Drama,101.2,8.8
3,Keanu Reeves,The Matrix,1999,Action,467.9,8.7
2,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8
1,Will Smith,Men in Black,1997,Comedy,589.4,7.3
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8

In [12]:
df2['Rank'] = df2['IMDb'].rank(ascending=True, method='dense')

In [13]:
df2

,Actor,Film,Year,Genre,BoxOffice,IMDb,Rank
0,Tom Hanks,Forrest Gump,1994,Drama,678.2,8.8,13.0
1,Will Smith,Men in Black,1997,Comedy,589.4,7.3,4.0
2,Leonardo DiCaprio,Titanic,1997,Romance,1845.0,7.8,8.0
3,Keanu Reeves,The Matrix,1999,Action,467.9,8.7,12.0
4,Brad Pitt,Fight Club,1999,Drama,101.2,8.8,13.0
5,Denzel Washington,Training Day,2001,Crime,104.9,7.7,7.0
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,326.7,6.9,1.0
7,Robert Downey Jr.,Iron Man,2008,Action,585.8,7.9,9.0
8,Christian Bale,The Dark Knight,2008,Action,1006.0,9.0,14.0
9,Sandra Bullock,The Blind Side,2009,Drama,309.2,7.6,6.0
10,Natalie Portman,Black Swan,2010,Drama,329.4,8.0,10.0
11,Hugh Jackman,Les Misérables,2012,Musical,148.8,7.5,5.0
12,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,236.4,7.7,7.0
13,Daniel Craig,Skyfall,2012,Action,1108.6,7.8,8.0
14,Ryan Reynolds,Deadpool,2016,Comedy,782.8,NaN,NaN
15,Emma Watson,Beauty and the Beast,2017,Fantasy,1263.5,7.1,3.0
16,Chris Hemsworth,Thor: Ragnarok,2017,Action,854.0,7.9,9.0
17,Scarlett Johansson,Black Widow,2021,Action,379.0,6.9,1.0
18,Tom Cruise,Top Gun: Maverick,2022,Action,1445.7,8.3,11.0
19,Margot Robbie,Barbie,2023,Comedy,1443.0,7.0,2.0

In [14]:
df2 = df2[["Film", "Year", "Actor", "Genre", "IMDb", "BoxOffice"]]

In [15]:
df2

,Film,Year,Actor,Genre,IMDb,BoxOffice
0,Forrest Gump,1994,Tom Hanks,Drama,8.8,678.2
1,Men in Black,1997,Will Smith,Comedy,7.3,589.4
2,Titanic,1997,Leonardo DiCaprio,Romance,7.8,1845.0
3,The Matrix,1999,Keanu Reeves,Action,8.7,467.9
4,Fight Club,1999,Brad Pitt,Drama,8.8,101.2
5,Training Day,2001,Denzel Washington,Crime,7.7,104.9
6,The Devil Wears Prada,2006,Meryl Streep,Comedy,6.9,326.7
7,Iron Man,2008,Robert Downey Jr.,Action,7.9,585.8
8,The Dark Knight,2008,Christian Bale,Action,9.0,1006.0
9,The Blind Side,2009,Sandra Bullock,Drama,7.6,309.2
10,Black Swan,2010,Natalie Portman,Drama,8.0,329.4
11,Les Misérables,2012,Hugh Jackman,Musical,7.5,148.8
12,Silver Linings Playbook,2012,Jennifer Lawrence,Drama,7.7,236.4
13,Skyfall,2012,Daniel Craig,Action,7.8,1108.6
14,Deadpool,2016,Ryan Reynolds,Comedy,NaN,782.8
15,Beauty and the Beast,2017,Emma Watson,Fantasy,7.1,1263.5
16,Thor: Ragnarok,2017,Chris Hemsworth,Action,7.9,854.0
17,Black Widow,2021,Scarlett Johansson,Action,6.9,379.0
18,Top Gun: Maverick,2022,Tom Cruise,Action,8.3,1445.7
19,Barbie,2023,Margot Robbie,Comedy,7.0,1443.0

In [16]:
cols = ['Actor'] + [col for col in df2.columns if col != 'Actor']

In [17]:
df2 = df2[cols]

In [36]:
df2

,Actor,Film,Year,Genre,IMDb,BoxOffice
0,Tom Hanks,Forrest Gump,1994,Drama,8.8,678.2
1,Will Smith,Men in Black,1997,Comedy,7.3,589.4
2,Leonardo DiCaprio,Titanic,1997,Romance,7.8,1845.0
3,Keanu Reeves,The Matrix,1999,Action,8.7,467.9
4,Brad Pitt,Fight Club,1999,Drama,8.8,101.2
5,Denzel Washington,Training Day,2001,Crime,7.7,104.9
6,Meryl Streep,The Devil Wears Prada,2006,Comedy,6.9,326.7
7,Robert Downey Jr.,Iron Man,2008,Action,7.9,585.8
8,Christian Bale,The Dark Knight,2008,Action,9.0,1006.0
9,Sandra Bullock,The Blind Side,2009,Drama,7.6,309.2
10,Natalie Portman,Black Swan,2010,Drama,8.0,329.4
11,Hugh Jackman,Les Misérables,2012,Musical,7.5,148.8
12,Jennifer Lawrence,Silver Linings Playbook,2012,Drama,7.7,236.4
13,Daniel Craig,Skyfall,2012,Action,7.8,1108.6
14,Ryan Reynolds,Deadpool,2016,Comedy,NaN,782.8
15,Emma Watson,Beauty and the Beast,2017,Fantasy,7.1,1263.5
16,Chris Hemsworth,Thor: Ragnarok,2017,Action,7.9,854.0
17,Scarlett Johansson,Black Widow,2021,Action,6.9,379.0
18,Tom Cruise,Top Gun: Maverick,2022,Action,8.3,1445.7
19,Margot Robbie,Barbie,2023,Comedy,7.0,1443.0