In [1]:
# Empty tuple
empty_tuple = ()
 
# Tuple with elements
numbers = (1, 2, 3, 4, 5)
 
# Mixed data types
mixed_tuple = (1, "Hello", 3.14, True)
 
# Single element tuple (comma is necessary)
single_element = (42,)

In [3]:
my_tuple = (10, 20, 30, 40)

# Indexing
print(my_tuple[1])  # 20

# Slicing
print(my_tuple[1:3])  # (20, 30)

20
(20, 30)

In [5]:
# Packing
person = ("Alice", 25, "Engineer")

# Unpacking
name, age, profession = person
print(name)  # Alice
print(age)   # 25

Alice
25